*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d3d3d;
  flex-direction: column;
  gap: 10px;
}

button{
  width: 100px;
  height: 100px;
  font-size: 22px;
}

hr{
  width: 100%;
  margin: 10px 0;
}

.calculator {
  background-color: #eee;
  width: 400px;
  height: 700px;
  box-sizing: content-box;
  border: #143D60 solid 20px;
}

.display-area {
  height: 200px;
  background-color: #A0C878;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
}

.display-area .input {
  width: 100%;
  font-size: 30px;
  text-align: end;
  word-wrap: break-word;
  overflow: auto;
}

.buttons{
  display: flex;
}

.buttons .left .top {
  display: flex;
}

.buttons .left .bottom{
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  align-content: flex-start;
}

.buttons .right{
  display: flex;
  flex-direction: column;
}


/* add some colors! */
.number, .dot, .negative {
  background-color: #4DA1A9;
}
.operator {
  background-color: #79D7BE;
}
.left .top button {
  background-color: #DDEB9D;
}
